.App {
  margin: 6rem auto 0;
  width:  100%;
  max-width: 900px;
}

.app-header {
  background-color: #45484a;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

.app-name {
  flex: 1 1 auto;
  padding-right: 2rem;
  color: #fff;
}

.app-name {
  margin: 0;
  font-weight: 500;
}

.app-name-link {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.app-header .search-component {
  flex: 1 1 100%;
  max-width: 100%;
}

.lines-list .row {
  text-align: center;
}

.heading {
  padding-bottom: 1rem;
  border-bottom: 3px dotted #3b3a3c;
  margin-bottom: 1rem;
}
.stop-point__data {
  border-bottom: 3px dotted #3b3a3c;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.stop-point__rows {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.stop-point__card {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.stop-point__headings,
.stop-point__item {
  display: flex;
}

.stop-point__item:nth-child(even) {
  background: #e6e6e6;
}

.item-property {
  padding: 0.5rem 1rem;
}

.item-line,
.item-minutes {
  text-align: right
}

.item-line {
  flex: 1 1 10%;
  max-width: 10%;
}

.item-direction {
  flex: 1 1 70%;
  max-width: 70%;
}

.item-minutes {
  flex: 1 1 20%;
  max-width: 20%;
}

.stop-point__headings .item-property {
  font-weight: 600;
}

/* Line Directions */

.directions {
  display: flex;
  margin: 1rem 0;
}

.direction {
  flex: 1 1 50%;
  max-width: 50%;
}

.direction-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-bottom: 3px dotted  #3b3a3c;
}

.direction-bollards {
  padding: 0.25rem 1rem;
  position: relative;
}

.direction-bollard__link {
  text-decoration: none;
  color: inherit;
}

.direction-bollard__link:hover {
  color: #1b9dd9;
}

.direction-bollard__link:hover .order-no::after {
  border-color: #1b9dd9;
  background-color: #fff;
}

.direction-line {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}

.direction-line__link {
  color: inherit;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.direction-line__tram {
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-color: transparent;
  border-radius: 1.5em;
}

.direction-line__tram .direction-line__link {
  padding: 0;
}

.line-signature {
  font-size: 2.25rem;
}

.direction-direction {
  padding-left: 1rem;
}

.tag {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  font-size: 80%;
  padding: 0.25rem 0.75rem;
}

/* Search Input */

.search-form {
  font-size: 1.125rem;
  border: 3px solid #fff;
  padding: 0.5rem 1rem;
  width: 100%;
}

.results-container {
  position: relative;
}

.results-list {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.results-list:first-child {
  border-top-color: transparent;
}

.search-row {
  border-top: 1px solid #ddd;
  padding: 0.5rem 1rem;
}

.order-no {
  display: inline-block;
  width: 2em;
  text-align: right;
}

.order-no::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  bottom: 1px;
  left: 6px;
  width: 4px;
  background-color: #1b9dd9;
}

.order-no::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 8px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #1b9dd9;
  border: 2px solid #1b9dd9;
  transition: background-color 0.2s ease;
}

.order-no.first::before {
  top: 50%;
  bottom: 1px;
  left: 6px;
  width: 4px;
  background-color: #1b9dd9;
}

.order-no.first:after {
  background-color: #fff;
  border: 2px solid #000;
  width: 14px;
  height: 14px;
}

.bollard-name {
  font-weight: 600;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 11.1111%;
  max-width: 11.1111%;
  padding: 0 0.25rem;
}

.error {
  background-color: #fbc707;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.heading {
  display: flex;
  width: 100%;
}

.icon {
  width: 2.5rem;
  margin-left: auto;
}

/* 
 * Spinner
 */

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #d0006f;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* 
 * Copyright (c) 2015 Tobias Ahlin
 */