.app-header {
  background-color: #45484a;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  z-index: 1;
}

.header-description {
  display: none;
  color: #fff;
  border-top: 3px dotted #fff;
  border-bottom: 3px dotted #fff;
  margin: 1rem 0;
}

.app-main {
  padding: 6rem 1rem 0;
  position: relative;
}

.main-content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.app-name {
  flex: 1 1 auto;
  padding-right: 2rem;
  color: #fff;
  margin: 0;
  font-weight: 500;
}

.app-search {
  display: none;
  flex-direction: column;
  row-gap: 1rem;
}

.app-search_open {
  display: flex;
}

.app-name-link {
  white-space: nowrap;
}

.app-header .search-component {
  flex: 1 1 100%;
  max-width: 100%;
}

.app-title {
  display: flex;
  flex-wrap: wrap;
}

.clock {
  color: #fff;
  display: none;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 25px rgba(255,255,255,0.3);
}

.clock-time {
  font-size: 1.6rem;
}

.clock-date {
  text-align: center;
}

@media (min-width: 1200px) {
  .app-header {
    min-height: 100vh;
    padding-top: 2rem;
    width: 32%;
  }

  .app-search {
    display: flex;
  }

  .app-main {
    margin-left: 32%;
    padding: 2rem;
    width: 68%;
  }

  .clock,
  .header-description {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}

.lines-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.lines-list .row {
  text-align: center;
}

.heading {
  padding-bottom: 1rem;
  border-bottom: 3px dotted #3b3a3c;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
}

.stop-point__data {
  border-bottom: 3px dotted #3b3a3c;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.stop-point__rows {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.stop-point__card {
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: block;
}

.stop-point__card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.stop-point__headings,
.stop-point__item {
  display: flex;
}

.stop-point__item:nth-child(even) {
  background: #e6e6e6;
}

.item-property {
  padding: 0.5rem 1rem;
}

.item-line,
.item-minutes {
  text-align: right
}

.item-line {
  flex: 1 1 10%;
  max-width: 10%;
}

.item-direction {
  flex: 1 1 50%;
  max-width: 50%;
}

.item-info {
  flex: 1 1 20%;
  max-width: 20%;
}

.item-minutes {
  flex: 1 1 20%;
  max-width: 20%;
}

.stop-point__headings .item-property {
  font-weight: 600;
}

.stop-point__headings .item-direction {
  flex: 1 1 80%;
  max-width: 80%;
}

/* Line Directions */

.direction {
  margin: 1rem 0;
}

@media (min-width: 576px) {
  .directions {
    display: flex;
  }
  
  .direction {
    flex: 1 1 50%;
    max-width: 50%;
  }  
}

.direction-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem 1rem;
  border-bottom: 3px dotted  #3b3a3c;
}

.direction-bollards {
  padding: 0;
}

.direction-bollard {
  padding: 0.25rem 1rem;
  position: relative;
  list-style-type: none;
}

.direction-bollard__link:hover {
  color: #1b9dd9;
}

.direction-bollard__link:hover .order-no::after {
  border-color: #1b9dd9;
  background-color: #fff;
}

.direction-line {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  flex-shrink: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.direction-line__link {
  color: inherit;
  display: block;
  padding: 0.5rem 1rem;
}

.direction-line__tram {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 2.25rem;
  border-radius: 50%;
}

.direction-line__night {
  background-color: #2B2A29;
  border-color: transparent;
  color: #fff;
}

.direction-line__tram .direction-line__link {
  padding: 0;
}

.direction-direction {
  padding-left: 1rem;
}

.tag {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  font-size: 80%;
  padding: 0.25rem 0.75rem;
}

/* Search Input */

.form-label {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form-container {
  position: relative;
}

.search-form {
  font-size: 1.125rem;
  border: 3px solid #fff;
  padding: 0.5rem 1rem;
  width: 100%;
}

.has-loader .search-form {
  padding-right: 1.75rem;
}

.loader {
  height: 0.8rem;
  margin: 0 0.25rem;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 0.8rem;
  z-index: 2;
}

.loading {
  color: transparent;
  pointer-events: none;
}

.loading::after {
  animation: loading .5s infinite linear;
  border: .1rem solid #45484a;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 0.8rem;
  left: 50%;
  margin-left: -0.4rem;
  margin-top: -0.4rem;
  position: absolute;
  top: 50%;
  width: 0.8rem;
  z-index: 1
}

.results-container {
  position: relative;
}

.results-list {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.results-list:first-child {
  border-top-color: transparent;
}

.search-row {
  list-style-type: none;
}

.search-row-link {
  border-top: 1px solid #ddd;
  display: block;
  padding: 0.5rem 1rem;
}

.search-row-link:hover {
  background-color: #f2f2f2;
}

.order-no {
  display: inline-block;
  width: 2em;
  text-align: right;
}

.order-no::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  bottom: 1px;
  left: 6px;
  width: 4px;
  background-color: #1b9dd9;
}

.order-no::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 8px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #1b9dd9;
  border: 2px solid #1b9dd9;
  transition: background-color 0.2s ease;
}

.order-no.first::before,
.order-no.last::before {
  left: 6px;
  width: 4px;
  background-color: #1b9dd9;
}

.order-no.first::before {
  top: 50%;
  bottom: 1px;
}

.order-no.last::before {
  top: -1px;
  bottom: 50%;
}

.order-no.first::after,
.order-no.last::after {
  border: 2px solid #000;
  width: 14px;
  height: 14px;
}

.order-no.first::after {
  background-color: #fff;
}

.order-no.last::after {
  background-color: #eee;
}

.bollard-name {
  font-weight: 600;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.col {
  flex: 1 1 25%;
  max-width: 25%;
  padding: 0 0.25rem;
}

@media (min-width: 576px) {
  .col {
    flex: 1 1 16.666667%;
    max-width: 16.666667%;
    padding: 0 0.25rem;
  }
}

@media (min-width: 992px) {
  .col {
    flex: 1 1 11.1111%;
    max-width: 11.1111%;
    padding: 0 0.25rem;
  }
}

.error {
  background-color: #fbc707;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.icon {
  width: 2.5rem;
  margin-left: auto;
}

.blink {
  animation-duration: 3s;
  animation-name: flash;
  animation-iteration-count: infinite;
}

.action-link {
  color: #0066b3;
}

.btn {
  appearance: none;
  color: #fff;
  background: transparent;
  border-color: transparent;
  font-size: 1.5rem;
  border-radius: 2px;
}

.btn:focus-visible {
  outline: 1px solid #fff;
}

/* 
 * Spinner
 */

.spinner {
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #d0006f;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}

/* 
 * Copyright (c) 2015 Tobias Ahlin
 */

 @keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
   transform:rotate(0)
  }
  100% {
   transform:rotate(360deg)
  }
 }
 